.carousel-inner{
  display: block;
  width: 100%;
  height: auto;
}

.carousel-caption {
  font-family: 'Source Sans Pro';
  background-color: #21B7C4;
  color: #fff;
  bottom: 0;
  width: auto;
  padding: 15px 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #21B7C4;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #21B7C4;
}